
#random-player-photo-container {
  overflow: hidden;
  /* outline:1px solid red; */
  display:inline-block;
}

/* #myModal {
  height: 95vh;
} */

/* th {
  white-space: nowrap;
} */

/* td {
  white-space: nowrap;
} */

#results-table {
  border-collapse: collapse;
}


#random-player-photo {
  display:block;
}

.cut {
  transform:scaleY(0.7);
  transform-origin:bottom; /* The extra space will be on the bottom*/
}

.cut-img {
  transform:scaleY(calc(1/0.7));
  transform-origin:top; /* This should be bottom to cut the top*/
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* form {
  display: inline-block;
} */

/* .table-cell{
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
} */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



.grid-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.grid-button img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


@media (max-width: 1400px) {
  .grid-button img {
    width: 70px;
    height: 70px;
  }

  .button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 5px;
  }

  #text-table-p{
    display:none;
  }

}

@media (max-width: 1200px) {
  .grid-button img {
    width: 70px;
    height: 70px;
  }

  .button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 5px;
  }

  #text-table-p{
    display:none;
  }

}



@media (max-width: 1000px) {
  .grid-button img {
    width: 55px;
    height: 55px;
  }

  .button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
    gap: 5px;
  }

  #text-table-p{
    display:none;
  }


}



@media (max-width: 800px) {
  .grid-button img {
    width: 45px;
    height: 45px;
  }

  .button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
    gap: 5px;
  }

  #text-table-p{
    display:none;
  }

}


@media (max-width: 600px) {
  .grid-button img {
    width: 40px;
    height: 40px;
  }

  .button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 5px;
  }

  #results-table {
    display: none;
  }

  #text-table-p{
    display:block;
  }

  .modal-content{
    padding: 4%;
  }

  
}



@media (max-width: 400px) {
  .grid-button img {
    width: 40px;
    height: 40px;
  }

  .button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 5px;
  }

  #text-table-p{
    display:block;
  }

  .modal-content{
    padding: 4%;
  }

}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

table { 
  border-spacing: 0;
  border-collapse: collapse;
  }

.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}